/* font-family: 'Akronim', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background img {
  position: relative;
  top: 0;
  right: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.background-overlay {
  display: block;
  position: absolute;
  background: linear-gradient(0deg, #00000066 100%, #ffffff44 20%);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

nav {
  z-index: 2;
  font-family: "Akronim", cursive;
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  align-items: center;
}

nav button {
  border: none;
  background: rgb(110, 233, 115);
  padding: 0.45rem 2.5rem;
  height: 50%;
  font-size: 1.25rem;
  margin-right: 5rem;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 3.6em;
  margin-left: 2em;
  color: rgb(110, 233, 115);
}

main {
  font-family: "Poppins", sans-serif;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}

main h1 {
  font-size: 3.25rem;
  margin-bottom: 0.5em;
}

main button {
  border: none;
  background: rgb(110, 233, 115);
  padding: 0.55rem 2.5rem;
  margin-top: 2em;
  font-size: 1.25rem;

  border-radius: 1.5rem;
  color: white;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
  .logo {
    margin-left: 0.5em;
    font-size: 3em;
  }

  nav button {
    margin-right: 1em;
    font-size: 1em;
    padding: 0.3em 2em;
  }
  main h1 {
    font-size: revert;
  }

  main h2 {
    font-size: 1rem;
    text-align: center;
  }

  main button {
    font-size: revert;
  }
}
